<div class="bg-white border-right" id="sidebar-wrapper">
  <div class="sidebar-heading"><img src="@/assets/img/axel.png" height="20"></div>
  <div class="list-group list-group-flush">
    <ul class="nav navbar-nav">

      <a class="list-group-item list-group-item-action bg-white"><i class="fa fa-home mr-1"></i>Dashboard</a>
      <a class="list-group-item list-group-item-action bg-white"><i class="fa fa-users mr-1"></i>Users</a>
      <a class="list-group-item list-group-item-action bg-white"><i class="fa fa-cog mr-1"></i>Settings</a>
    </ul>
  </div>
</div>